/* Question Card */
.qbox{
  padding:18px;
  margin:18px 0;
}

/* Question Text */
.qbox h3{
  font-size:18px;   /* पहले 24px था */
  font-weight:700;
  margin-bottom:12px;
}

/* Option Box */
.opt{
  padding:10px 12px;
  margin:8px 0;
}

/* Option Text */
.opt span{
  font-size:16px;   /* पहले बड़ा था */
}

/* Radio Button */
.opt input{
  width:18px;
  height:18px;
}
